body{
    background-color: #F4F7FD;
}
.offer{
    background: linear-gradient(98.88deg, rgb(118, 87, 7) 2.44%,rgb(8, 84, 101) 98.163%);
}
.count{
    background-image: url("./assets/img/countDoun.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.slider-container{
    margin-right: -300px;
    text-align: center;
    margin: auto;
}
.slick-arrow{
    display: none !important
}
.service{
    background-image:url("../src/assets/img/bghomeimg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom ;
}
.before::before{
    display: block;
    content:"";
    width: 37px;
    height: 37px;
    background-image:url("/src/assets/img/done.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size: contain;

}

.downloads{
/* background: radial-gradient(406.00% 45.01% at 71% 60%,rgb(239, 15, 203),rgb(13, 21, 92) 100%); */
background: rgb(13,21,92);
background: linear-gradient(90deg, rgba(13,21,92,1) 0%, rgba(239,15,203,1) 84%, rgba(13,21,92,1) 100%);
}
.bangladesh{
    background-image:url("/src/assets/img/bangladesh_bgImg.png");
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}